body{
  display: flex;
  flex-wrap: wrap;
  background-image: URL(home.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.condition_optimale{
  background-color: green;
}

.condition_ok{
  background-color: grey;
}

.condition_critique{
  background-color: red;
}

@keyframes critique {
  0%{
    background-color: red;
  }
  50%{
    background-color: grey;
  }
  100%{
    background-color: red;
  }
}


.n1{
  flex: 0 1 30vw;
  height: 30vh;
  overflow: hidden;
}

.n2{
  flex: 0 1 100vw;
  height: 30vh;
  overflow: hidden;
}

.meteo{

  order:1;

}

.principal{
  order:2;
}

@keyframes attrape {
  10%{
    transform:scale(0.9) rotate(5deg);
  }
  20%{
    transform:scale(0.9) rotate(-5deg);
  }
  30%{
    transform:scale(0.9) rotate(+5deg);
  }
  40%{
    transform:scale(0.9) rotate(5deg);
  }
  50%{
    transform:scale(0.9) rotate(-5deg);
  }
  60%{
    transform:scale(0.9) rotate(+5deg);
  }
  100%{

  }
}

body{
  width: 100vw;
  height: 100vh;
}

.column{
    position:absolute;
    left: 0;
    top: 0;
    width:100px;
    height: 100px;
    background-color: grey;
    margin: 2px 2px 2px 2px;
    box-shadow: 2px 2px 10px;
    border: 2px solid black;
    border-radius: 5%;
    transition: 1s;
}


.animate{
  animation: 2s attrape;
}

.eau{
  background-image: URL("eau.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.energie{
  background-image: URL("energie.png");
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
}

.habitat{
  background-image: URL("home.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.dinner{
  background-image: URL("dinner.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.securite{
  background-image: URL("secu.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.sante{
  background-image: URL("sante.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
